    <md-card>
      <md-input placeholder="Braumeister IP adress" [(ngModel)]="ip"></md-input>
      <button md-raised-button (click)="toggleRecord()" color="primary">{{ recordText }}</button>
      <button *ngIf="!recording" md-raised-button (click)="export()" color="primary">Export</button>
    </md-card>
    <md-card>
      <label for="targetTemp">Target temperature</label>
      <!--md-checkbox name="targetTemp" aria-label="Target Temperature" [(ngModel)]="showTargetTemp"></md-checkbox-->
      <app-temperature-chart [bmData]="displayData"></app-temperature-chart>
    </md-card>


