@import '../node_modules/@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$braukontrol-app-primary-dark:      md-palette($md-light-blue, 700);
$braukontrol-app-primary:           md-palette($md-light-blue, 500);
$braukontrol-app-primary-light:     md-palette($md-light-blue, 100);
$braukontrol-app-primary-text:      md-palette($md-grey, 0);
$braukontrol-app-accent:            md-palette($md-red, A200);
$braukontrol-app-primary-text:      md-palette($md-grey, 900);
$braukontrol-app-secondary-text:    md-palette($md-grey, 600);
$braukontrol-app-divider:           md-palette($md-grey, A400);

$braukontrol-app-warn:    md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$braukontrol-app-theme: md-light-theme($braukontrol-app-primary, $braukontrol-app-accent, $braukontrol-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($braukontrol-app-theme);
